{% load static %}
<style>
  footer.fixar-rodape{
  background-color: #008000;
  border-top: 1px solid var(--dark-green);
  color: #fff;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}
</style>


<footer class="fixar-rodape" style="width: 100%; position: sticky; bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9">
          <p class="m-0">Distribuidora localizada em Itanhaém da Frutos de Goiás</p>
        </div>
        <div class="col-12 col-md-3">
          <p class="m-0">@Todos os direitos reservados</p>
        </div>
      </div>
    </div>
  </footer>