{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  body {
      font-family: 'Arial', sans-serif;
  }
  .chart-container {
      width: 60%;
      margin: auto;
      padding: 2rem;
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 15px;
  }
  h1 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      color: #ffffff;
  }
</style>
{% endblock 'head' %}

{% block 'body' %}
<body>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=5uFfkLlK"></script>
  <body class="page-catalog">
    <header class="bg-primary text-white py-2">
      {% include 'navbar.html' %}
    </header>
  

    <div class="container-fluid">
    <h1>Top 5 Produtos Vendidos - Geral</h1>
    <div class="chart-container">
      <canvas id="produtosMaisPedidosGeral"></canvas>
    </div>

    <h1>Top 5 Produtos Vendidos - Por Usuário</h1>
    <div class="chart-container">
      <canvas id="produtosMaisPedidosUsuario"></canvas>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Gráfico Geral
      var ctxGeral = document.getElementById('produtosMaisPedidosGeral').getContext('2d');
      var produtosGeral = JSON.parse('{{ produtos_geral|escapejs }}');
      var quantidadesGeral = JSON.parse('{{ quantidades_geral|escapejs }}');

      new Chart(ctxGeral, {
        type: 'bar',
        data: {
          labels: produtosGeral,
          datasets: [{
            label: 'Produtos Mais Vendidos - Geral',
            data: quantidadesGeral,
            backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        }
      });

      // Gráfico por Usuário
      var ctxUsuario = document.getElementById('produtosMaisPedidosUsuario').getContext('2d');
      var produtosUsuario = JSON.parse('{{ produtos_usuario|escapejs }}');
      var quantidadesUsuario = JSON.parse('{{ quantidades_usuario|escapejs }}');

      new Chart(ctxUsuario, {
        type: 'bar',
        data: {
          labels: produtosUsuario,
          datasets: [{
            label: 'Produtos Mais Vendidos - Usuário',
            data: quantidadesUsuario,
            backgroundColor: 'rgba(75, 192, 192, 0.7)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        }
      });
    });
  </script>
</body>
{% endblock %}
